[submodule "themes/learn"]
	path = themes/learn
	url = https://github.com/matcornic/hugo-theme-learn
	branch = master
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "infrastructure/genea"]
	path = infrastructure/genea
	url = ssh://git-codecommit.us-east-1.amazonaws.com/v1/repos/HP_Genea_Repo
