[submodule "themes/learn"]
	path = themes/learn
	url = https://github.com/matcornic/hugo-theme-learn
	branch = master
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/lschierer/hugo-theme-terminal.git
[submodule "themes/hugo-vue-starter"]
	path = themes/hugo-vue-starter
	url = https://github.com/robbymilo/hugo-vue-starter.git
[submodule "themes/hugo-alpine-test"]
	path = themes/hugo-alpine-test
	url = https://github.com/bep/hugo-alpine-test
