{{ define "main" }}
<div class="td-content">

  <h1>{{ .Title }}</h1>
  {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
  <header class="article-meta">
    {{ $context := . }}
    {{ if .Site.Params.Taxonomy.taxonomyPageHeader }}
      {{ range $index, $taxo := .Site.Params.Taxonomy.taxonomyPageHeader }}
        {{ partial "taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo ) }}
      {{ end }}
    {{ else }}
      {{ range $taxo, $taxo_map := .Site.Taxonomies }}
        {{ partial "taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo ) }}
      {{ end }}
    {{ end }}
    {{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
      {{ partial "reading-time.html" . }}
    {{ end }}
  </header>    

  {{ $GedFile := printf "\"%s\"" (.FirstSection.Resources.GetMatch "potter_universe.ged").Permalink }}
	{{ $id := printf "\"@%s@\"" .Params.id }}
	<div x-data="{
		GedBuffer: ArrayBuffer,
		GedData: rgc.SelectionGedcom
		}" 
		x-init="{
		  GedFile: Alpine.store('HPGC').initGedCom({{ $GedFile }})
		}"
		>
    <h4 class="h3">
      Biographical Information
    </h4>
    <div class="mb-0" id="bio-info" 
		>
		Birthday: <span x-data="{ message: 'initial' }" x-text="message">didn't work</span><br/>
		Death: <span ></span>
    </div>
  </div>

  {{ .Content }}
  {{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
    {{ partial "feedback.html" .Site.Params.ui.feedback }}
    <br />
  {{ end }}
  {{ if (.Site.Params.DisqusShortname) }}
    <br />
    {{ partial "disqus-comment.html" . }}
  {{ end }}
  {{ partial "page-meta-lastmod.html" . }}
</div>

{{ end }}
