:host {
  flex-shrink: 1;
}

.CardBody {
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: var(--spectrum-blue-100);
  border-radius: 4px;
  z-index: 1;
}

.CardBody .CardBody {
  z-index: 0;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
}

.my-0 {
  margin: 0px;
}

.flex {
  display: flex;
}

.flex-auto {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.flex-col {
  flex-direction: column;
}

.gap-1 {
  column-gap: 4px;
  row-gap: 4px;
}
.grid {
  display: grid;
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0px, 1fr));
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0px, 1fr));
}

.col-span-11 {
  grid-column-start: span 11;
  grid-column-end: span 11;
}

.col-span-1 {
  grid-column-start: span 1;
  grid-column-end: span 1;
}

.col-end-12 {
  grid-column-end: 12;
}

.row-span-1 {
  grid-row-start: span 1;
  grid-row-end: span 1;
}

.rounded {
  border-radius: 4px;
}

.border-2 {
  border-width: 2px;
}
.bg-gray-100 {
  background-color: var(--spectrum-blue-100);
}
.color-male {
  color: #006657;
}

.color-female {
  color: #380097;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: " ";
  background: #bebebe;
  display: inline-block;
  position: absolute;
  left: 0.5em;
  width: 0.2em;
  height: 100%;
}

ul.timeline > li {
  margin: 0.75em 0;
  padding-left: 0.2em;
}

ul.timeline > li:first-child {
  padding-top: 0.03em;
}

ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: solid 0.2em #bebebe;
  left: 0.1em;
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
}

.small-header {
  font-weight: 500;
}

.content :global(:is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *))) {
  color: var(--sl-color-white);
  line-height: var(--sl-line-height-headings);
  font-weight: 600;
}

.content :global(h1:not(:where(.not-content *))) {
  font-size: var(--sl-text-h1);
}
.content :global(h2:not(:where(.not-content *))) {
  font-size: var(--sl-text-h2);
}
.content :global(h3:not(:where(.not-content *))) {
  font-size: var(--sl-text-h3);
}
.content :global(h4:not(:where(.not-content *))) {
  font-size: var(--sl-text-h4);
}
.content :global(h5:not(:where(.not-content *))) {
  font-size: var(--sl-text-h5);
}
.content :global(h6:not(:where(.not-content *))) {
  font-size: var(--sl-text-h6);
}

.content :global(a:not(:where(.not-content *))) {
  color: var(--sl-color-text-accent);
}
.content :global(a:hover:not(:where(.not-content *))) {
  color: var(--sl-color-white);
}

.content :global(code:not(:where(.not-content *))) {
  background-color: var(--sl-color-bg-inline-code);
  margin-block: -0.125rem;
  padding: 0.125rem 0.375rem;
  font-size: var(--sl-text-code-sm);
}
.content :global(:is(h1, h2, h3, h4, h5, h6) code) {
  font-size: inherit;
}

.content :global(pre:not(:where(.not-content *))) {
  border: 1px solid var(--sl-color-gray-5);
  padding: 0.75rem 1rem;
  font-size: var(--sl-text-code);
  tab-size: 2;
}

.content :global(table:not(:where(.not-content *))) {
  display: block;
  overflow: auto;
  border-collapse: collapse;
}
.content :global(tr:nth-child(2n):not(:where(.not-content *))) {
  background-color: var(--sl-color-gray-7, var(--sl-color-gray-6));
}
.content :global(:is(th, td):not(:where(.not-content *))) {
  border: 1px solid var(--sl-color-hairline-light);
  padding: 0.375rem 0.8125rem;
}

.content :global(hr:not(:where(.not-content *))) {
  border: 0;
  border-bottom: 1px solid var(--sl-color-hairline);
}
