@import "@spectrum-css/tokens/dist/index.css";
@import "@spectrum-css/icon/dist/index.css";
@import "@spectrum-css/card/dist/index.css";

horizontal-card {
}

a.spectrum-Card {
  width: 100%;
}
div.spectrum-Card {
  border: 0.5px solid var(--sl-color-accent-low);
}

div.spectrum-Card-body {
  width: 80%;
  flex-grow: 2;
}
