---
import type { APIRoute,  } from 'astro';
import { type InferGetStaticParamsType, type InferGetStaticPropsType, type GetStaticPaths } from 'astro';
import { getCollection, getEntry, type CollectionEntry } from 'astro:content';

import type { HTMLAttributes } from 'astro/types'
import {z, ZodError} from 'zod'

import {DatabaseSchema} from "../../../lib/GrampsZodTypes";

const grampsEntries: CollectionEntry<'gramps'>[]  = await getCollection('gramps');
---

<ul>
    {grampsEntries.map((e) => (<li>{JSON.stringify(e)}</li>))}
</ul>