.book-brand {
	margin-top: 0;
	margin-bottom: $padding-14;

	img {
		height: 3em;
		width: 9em;
		margin-inline-end: $padding-8;
	}
}

.book-menu {
	flex: 0 0 $menu-width;
	font-size: $font-size-14;

	.book-menu-content {
		width: $menu-width;
		padding: $padding-16;
		background: #B2BABB;

		@include fixed;
	}

	a,
	label {
		color: inherit;
		cursor: pointer;
		word-wrap: break-word;
	}

	a.active {
		color: var(--color-link);
	}

	input.toggle:checked + label + ul {
		display: block;
	}

	input.toggle + label::after {
		content: "▸";
	}
}

