$font-size-18: 1.175rem !default;
$font-size-19: 1.250rem !default;
$font-size-20: 1.375rem !default;
$font-size-21: 1.50rem !default;
$font-size-22: 1.625rem !default;
$font-size-23: 1.750rem !default;
$font-size-24: 1.875rem !default;

