---
import * as d3 from "d3";

interface Props {
  year: number | string;
}

const { year } = Astro.props;

const response = await fetch(
  `${Astro.url.origin}/Hogwarts/Class_Lists/ClassOf${year}.dsv`,
);
const data = await response.text();

const ClassData = d3.dsvFormat("|").parse(data, d3.autoType);

const DataColumns = ClassData.columns.filter((ci: string) => {
  if (ci !== null && ci !== undefined) {
    if (ci.localeCompare("", "en", { sensitivity: "base" })) {
      return true;
    }
  }
  return false;
});
---

<table>
  <thead>
    {DataColumns.map((ci: string) => <th>{ci}</th>)}
  </thead>
  <tbody>
    {
      ClassData.map((row) => (
        <tr>
          {DataColumns.map((ci: string) => (
            <td>{row[ci as keyof typeof row]}</td>
          ))}
        </tr>
      ))
    }
  </tbody>
</table>
