---

import Default from '@astrojs/starlight/components/Hero.astro';
import {  GrampsIndividual} from './grampsParser/individual';

const { data } = Astro.props.entry;
let {grampsId} = data;
grampsId = `${grampsId}`;
const isPerson = Astro.props.slug.startsWith('harrypedia/people');
import { file } from './grampsParser/config';
const Url = new URL('/' + file, Astro.url );

---

{
    isPerson ? (
        <div class="content">
                <h3 id="facts">Facts</h3>
                <GrampsIndividual grampsId={grampsId} url={Url} client:only ></GrampsIndividual>
        </div>

    ) : (
        <Default {...Astro.props}><slot /></Default>
    )
}
