---

import Default from '@astrojs/starlight/components/Hero.astro';
import  Individual from './grampsParser/Individual.astro';

const { data } = Astro.props.entry;
let {hero} = data;
hero = `${hero}`;
const isPerson = Astro.props.slug.startsWith('harrypedia/people');

---

{
    isPerson ? (
        <div class="content">
                <h3 id="facts">Facts</h3>
                <Individual personId={hero} />
        </div>

    ) : (
        <Default {...Astro.props}><slot /></Default>
    )
}
