---

import Default from '@astrojs/starlight/components/Hero.astro';
import  Individual from './grampsParser/Individual.astro';

const { data } = Astro.props.entry;
let {hero} = data;
hero = `${hero}`;
const isPerson = Astro.props.slug.startsWith('harrypedia/people');

---

{
    isPerson ? (
        <div class="content">
                <h3 id="facts">Facts</h3>
                <Individual personId={hero} />
        </div>

    ) : (
        <Default {...Astro.props}><slot /></Default>
    )
}
<style>
        .content :global(:is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *))) {
                color: var(--sl-color-white);
                line-height: var(--sl-line-height-headings);
                font-weight: 600;
        }
        .content :global(h1:not(:where(.not-content *))) {
                font-size: var(--sl-text-h1);
        }
        .content :global(h2:not(:where(.not-content *))) {
                font-size: var(--sl-text-h2);
        }
        .content :global(h3:not(:where(.not-content *))) {
                font-size: var(--sl-text-h3);
        }
        .content :global(h4:not(:where(.not-content *))) {
                font-size: var(--sl-text-h4);
        }
        .content :global(h5:not(:where(.not-content *))) {
                font-size: var(--sl-text-h5);
        }
        .content :global(h6:not(:where(.not-content *))) {
                font-size: var(--sl-text-h6);
        }
        .content :global(:is(h1, h2, h3, h4, h5, h6) code) {
                font-size: inherit;
        }

</style>
