<!doctype html>
<html lang="en" dir="ltr" class="spectrum spectrum--medium spectrum--light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Overanalyzing the Harry Potter Universe, with some nacent fan fiction content"
    />
    <link rel="stylesheet" href="../styles/base.css" />
    <script type="module" src="../lib/Spectrum/Theme.ts"></script>

    <script type="module" src="../components/top-nav.ts"></script>
    <script type="module" src="../lib/iconify.ts"></script>
  </head>
  <body>
    <sp-theme
      system="spectrum"
      color="light"
      scale="medium"
      style="background-color: var(--spectrum-gray-100)"
    >
      <top-nav></top-nav>
      <page-outlet></page-outlet>
    </sp-theme>
  </body>
</html>
