<!doctype html>
<html>
  <head>
    <script type="module" src="../components/top-cardgrid.ts"></script>
    <script type="module" src="../components/card-grid.ts"></script>
    <script type="module" src="../components/horizontal-card.ts"></script>
    <script type="module" src="../components/side-nav.ts"></script>
    <script type="module" src="../lib/Spectrum/SplitView.ts"></script>
  </head>

  <body>
    <sp-split-view resizable primary-size="20%">
      <div class="nav">
        <side-nav route="${globalThis.page.route}"></side-nav>
      </div>
      <div>
        <main slot="right">
          <content-outlet></content-outlet>
        </main>
      </div>
    </sp-split-view>
  </body>
</html>
